body {
  background-color: #181a20 !important;
  box-sizing: border-box;
  margin: 0 0 5rem 0;
}

/* ======== SCROLL BAR ======== */

::-webkit-scrollbar {
  width: 7px !important;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  margin: 1px;
}
::-webkit-scrollbar-thumb {
  background: #5e6673;
  border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
  padding: 13px;
  border: 3px solid #5e6673;
}
